body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f8fafb;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 35px;
}

.wink-heart-path-thing {
  transform: translate(-40px, -10px);
}

#shadow {
  transform: translateX(-30px);
}

#plant {
  transform: rotate(3deg);
  transform-origin: center;
  transition: transform 0.2s;
}

#left-eye, #left-cheek {
  transform: translateY(-1px);
  transition: transform 0.2s;
}

#left-cheek {
  transform: translateY(4px);
}

#plant.rotate {
  transform: rotate(0);
}

#left-eye.wink, #left-cheek.wink {
  transform: translateY(0);
}

/*#heart-path{
  stroke: rgba(0,0,0,0);
}*/

.button-wink{
  width: 12em;
  height: 3em;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  box-shadow: -1px 2px lightgrey;
  font-weight: bold;
  color: grey;
}

.button-quote{
  width: 12em;
  height: 3em;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  box-shadow: -1px 2px lightgrey;
  font-weight: bold;
  color: grey;
}

#heart{
  offset-path: path("M75.1171875,146.880859 C66.4830729,139.798828 58.4641927,136.17513 51.0605469,136.009766 C39.9550781,135.761719 30.5800781,143.376953 22.4902344,143.376953 C14.4003906,143.376953 5.0078125,139.370015 1,132");
  transform: translate(38.058594, 139.440430) rotate(10.000000) translate(-38.058594, -139.440430);
  transform-origin: center;
  /*transform: translate(0px,0px);
  /*animation: path-animation 1s;*/
}

/*@keyframes path-animation {
  0% { 
    motion-offset: 0;
  }
  100% { 
    motion-offset: '100%';
  }
}*/
