body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f8fafb;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 35px;
}

.wink-heart-path-thing {
  transform: translate(-40px, -10px);
}

#shadow {
  transform: translateX(-30px);
}

#plant {
  transform: rotate(3deg);
  transform-origin: center;
  transition: transform 0.2s;
}

#left-eye, #left-cheek {
  transform: translateY(-1px);
  transition: transform 0.2s;
}

#left-cheek {
  transform: translateY(4px);
}

#plant.rotate {
  transform: rotate(0);
}

#left-eye.wink, #left-cheek.wink {
  transform: translateY(0);
}

#heart-path{
  stroke: rgba(0,0,0,0);
}

.button-wink{
  width: 12em;
  height: 3em;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid lightgrey;
  box-shadow: -1px 2px lightgrey;
  font-weight: bold;
  color: grey;
}

